/*------------------------------------*\
    $VARIABLES COLORS
\*------------------------------------*/
.color-brand {
  color: #CDB39B;
}

.background-color-brand {
  background-color: #CDB39B;
}

.color-secondary {
  color: #1E2328;
}

.background-color-secondary {
  background-color: #1E2328;
}

.color-white {
  color: #FEFAF3;
}

.background-color-white {
  background-color: #FEFAF3;
}

.color-cta {
  color: #494949;
}

.background-color-cta {
  background-color: #494949;
}

/*------------------------------------*\
    $VARIABLES SPACES
\*------------------------------------*/
.padding-negative {
  padding: -36px;
}

.padding-xs {
  padding: 3px;
}

.padding-s {
  padding: 6px;
}

.padding-m {
  padding: 12px;
}

.padding-l {
  padding: 24px;
}

.padding-xl {
  padding: 36px;
}

.padding-none {
  padding: 0;
}

/* Direcciones */
.padding-top-negative {
  padding-top: -36px;
}

.padding-top-xs {
  padding-top: 3px;
}

.padding-top-s {
  padding-top: 6px;
}

.padding-top-m {
  padding-top: 12px;
}

.padding-top-l {
  padding-top: 24px;
}

.padding-top-xl {
  padding-top: 36px;
}

.padding-top-none {
  padding-top: 0;
}

.padding-right-negative {
  padding-right: -36px;
}

.padding-right-xs {
  padding-right: 3px;
}

.padding-right-s {
  padding-right: 6px;
}

.padding-right-m {
  padding-right: 12px;
}

.padding-right-l {
  padding-right: 24px;
}

.padding-right-xl {
  padding-right: 36px;
}

.padding-right-none {
  padding-right: 0;
}

.padding-bottom-negative {
  padding-bottom: -36px;
}

.padding-bottom-xs {
  padding-bottom: 3px;
}

.padding-bottom-s {
  padding-bottom: 6px;
}

.padding-bottom-m {
  padding-bottom: 12px;
}

.padding-bottom-l {
  padding-bottom: 24px;
}

.padding-bottom-xl {
  padding-bottom: 36px;
}

.padding-bottom-none {
  padding-bottom: 0;
}

.padding-left-negative {
  padding-left: -36px;
}

.padding-left-xs {
  padding-left: 3px;
}

.padding-left-s {
  padding-left: 6px;
}

.padding-left-m {
  padding-left: 12px;
}

.padding-left-l {
  padding-left: 24px;
}

.padding-left-xl {
  padding-left: 36px;
}

.padding-left-none {
  padding-left: 0;
}

.margin-negative {
  margin: -36px;
}

.margin-xs {
  margin: 3px;
}

.margin-s {
  margin: 6px;
}

.margin-m {
  margin: 12px;
}

.margin-l {
  margin: 24px;
}

.margin-xl {
  margin: 36px;
}

.margin-none {
  margin: 0;
}

/* Direcciones */
.margin-top-negative {
  margin-top: -36px;
}

.margin-top-xs {
  margin-top: 3px;
}

.margin-top-s {
  margin-top: 6px;
}

.margin-top-m {
  margin-top: 12px;
}

.margin-top-l {
  margin-top: 24px;
}

.margin-top-xl {
  margin-top: 36px;
}

.margin-top-none {
  margin-top: 0;
}

.margin-right-negative {
  margin-right: -36px;
}

.margin-right-xs {
  margin-right: 3px;
}

.margin-right-s {
  margin-right: 6px;
}

.margin-right-m {
  margin-right: 12px;
}

.margin-right-l {
  margin-right: 24px;
}

.margin-right-xl {
  margin-right: 36px;
}

.margin-right-none {
  margin-right: 0;
}

.margin-bottom-negative {
  margin-bottom: -36px;
}

.margin-bottom-xs {
  margin-bottom: 3px;
}

.margin-bottom-s {
  margin-bottom: 6px;
}

.margin-bottom-m {
  margin-bottom: 12px;
}

.margin-bottom-l {
  margin-bottom: 24px;
}

.margin-bottom-xl {
  margin-bottom: 36px;
}

.margin-bottom-none {
  margin-bottom: 0;
}

.margin-left-negative {
  margin-left: -36px;
}

.margin-left-xs {
  margin-left: 3px;
}

.margin-left-s {
  margin-left: 6px;
}

.margin-left-m {
  margin-left: 12px;
}

.margin-left-l {
  margin-left: 24px;
}

.margin-left-xl {
  margin-left: 36px;
}

.margin-left-none {
  margin-left: 0;
}

/*------------------------------------*\
    $VARIABLES TYPOGRAPHY
\*------------------------------------*/
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  font-family: Georgia, Times, "Times New Roman";
  font-weight: normal;
  color: #4d4d4d;
}
h1.altheader,
h2.altheader,
h3.altheader,
h4.altheader,
h5.altheader,
h6.altheader,
p.altheader {
  text-transform: uppercase;
  display: block;
}

/*------------------------------------*\
    $MIXINS
\*------------------------------------*/
/*------------------------------------*\
    $LINKS
\*------------------------------------*/
a {
  text-decoration: none;
  color: #CDB39B;
}
a:visited {
  color: #CDB39B;
}
a:hover {
  text-decoration: underline;
  color: #CDB39B;
}
a:focus {
  outline: thin dotted;
  color: #CDB39B;
}

/*------------------------------------*\
    $SITE
\*------------------------------------*/
html {
  background: #FEFAF3;
  font-size: 87.5%;
  -webkit-overflow-scrolling: touch;
  -webkit-tap-highlight-color: transparent;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

body {
  margin: 0;
  padding: 0;
  width: 100%;
  background-color: transparent;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  line-height: 1.5;
  color: #4d4d4d;
}

/*------------------------------------*\
    $VARIABLES BOTONES
\*------------------------------------*/
/*---.btn principal class to define a button --*/
.btn {
  display: inline-block;
  line-height: 24px;
  color: #CDB39B;
  text-align: center;
  vertical-align: middle;
  font-size: fs(normal);
  white-space: nowrap;
  background-color: #FEFAF3;
  cursor: pointer;
  margin: 0;
  padding-top: 0;
  padding-bottom: 0;
  padding-right: 1em;
  padding-left: 1em;
  border-radius: 6px;
}
.btn:hover {
  text-decoration: none;
  color: #CDB39B;
}
.btn:active, .btn:focus {
  outline: none;
}
.btn:visited {
  color: #CDB39B;
}